__pycache__/
*.py[codz]
*$py.class
*.so

.Python
build/
dist/
*.egg-info/
*.egg

*.manifest
*.spec

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

*.mo
*.pot
*.log

.env
.envrc
.venv
env/
venv/

.idea/
.vscode/
.mypy_cache/
.ruff_cache/
